/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

/* 
font-family: 'Roboto', sans-serif;
 */

html {
  background: black;
}

body {
  width: 414px;
  margin: auto;
  background: white;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
}

nav {
  margin: 24px 0px 50px 5px;
  font-size: 16px;
}

nav a {
  margin: 0 5px;
}

h1 {
  font-size: 30px;
  padding: 15px 0;
}

.subhead {
  font-size: 16px;
  padding: 0 0 25px 0;
}

dt {
  font-size: 12px;
  font-weight: 700;
}

dd {
  font-size: 12px;
}

h1,
h2,
p,
dl,
a {
  margin: 0 0 0 10px;
}

div p {
  font-size: 16px;
  margin: 45px 69px 45px 10px;
}

main a {
  font-size: 12px;
}

.button-projects {
  margin: 0px 150px;
}

footer {
  background: black;
  color: white;
}

footer h1 {
  font-size: 12px;
}

footer p {
  font-size: 12px;
}

footer h2,
footer a {
  font-size: 10px;
}

footer h1 {
  margin: 25px 0 0 10px;
  padding: 30px 0 0 0;
}
